@import url(./font.css);
@import url(./partials/_global.css);
@import url(./partials/_variables.css);


/* nav start */
.header-area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
    color:var(--text-color);
    font-size: 30px;
}

.header-area .main-menu .navbar{
    padding: 1rem 5rem ;
    margin:0;
}
.header-area .main-menu .nav-item .nav-link{
    font-family:var(--roboto);
    text-transform: uppercase;
    font-weight:bold;
    font-size: 18px;
    padding: 0 1.7rem;
    color: var(--text-color);
}

.header-area .main-menu .nav-item .nav-link:hover{
    color: var(--title-color);
}

.navbar-nav > li {
    float: left;
    position: relative;
}

/* Solid class attached on scroll past first section */
.navbar.solid {
    background-color: #1F2833;
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px grey;
}

.navbar.solid .navbar-brand {
    color: white !important;
    transition: color 1s ease 0s;
}

.navbar.solid .nav-item .nav-link {
    color: white !important;
    transition: color 1s ease 0s;
} 

.navbar.solid .nav-item :hover {
    color: var(--title-color)!important;
}
/* nav end */

/* documentation start */
.upper-section{
    background-image: url(../img/10.jpg);
    background-size: cover;
    background-position: 50% 25%;
    /* background-color: #1F2833; */
}

.overlay{
    background-color: rgba(0, 0, 0, 0.7);
}
.upper{
    padding:50px 0px;
}

.upper-section  #upper-text > h3,p{
    font-family: var(--roboto);
    
}
#content{
    /* background: url(../img/pattern2.png); */
    background-color: white;
    padding-top:70px;
}

.nav{
    width:100%;
    margin-top: 40px;
    border-left: 1px solid #ccc;
    padding-left: 30px;
    float: left;
    position:sticky;
    top:100px;
}

.nav-link{
    color:black;
}

.nav-link:hover{
    text-decoration: none;
    font-weight: 600;
    color:black;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #444;
    font-weight: bold;
    background-color: transparent!important;
}
  
.documentation .documentation-inner{
    font-family: var(--roboto);
    color:#444;
}

.documentation .text-title{
    color:black;
    font-weight: bold;
}

.documentation-inner img{
    height:350px;
}

.documentation-inner .img-info{
    display: flex;
    justify-content: center;
}

/* documentation end */

/* footer start */
footer{
    background-color: #1F2833;
}
footer .footer-copyright{
    color:var(--text-color);
    font-style: var(--roboto);
    font-size:0.9rem;
}

footer .footer-copyright .name{
    color:var(--title-color);
}
/* footer end */



/* mobile view start */
@media(max-width:768px){
.body{
    position: fixed;
}

.header-area .main-menu .navbar .navbar-brand{
    padding: 0;
    color:var(--title-color);
}

.header-area .main-menu .navbar{
    padding: 1rem ;
    margin:0;
}

.header-area .main-menu .nav-item{
    text-align: center;
    padding: 8px;
}

.header-area .main-menu .nav-item .nav-link{
    font-family:var(--roboto);
    text-transform: uppercase;
    font-weight: 550;
    font-size: 18px;
    padding: 0;
    color: var(--title-color);
}

.header-area .main-menu .navbar-nav .active:after{
    display:none;
}

.header-area .main-menu a::after {
    display:none;
}

.navbar.solid {
    background-color: #1F2833;
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px grey;
}

/* documentation start */

.documentation-inner #big-img{
    height:100%;
    width:100%;
}

.documentation-inner .img-info{
    display: block;
}

.right-nav{
    display: none;
}


/* documentation end */


/* mobile footer start */
footer .footer-copyright{
    font-size:0.8rem;
}
/* mobile footer end */
}

/* mobile view end */